<h1>Lista de productos CartID: {{cart.0._id}}</h1>

<div>
  <ul style="list-style-type: none; font-weight: bold; font-size:20px; display: flex; flex-wrap: wrap; gap: 20px;">
    {{#each cart.0.products}}
      <li style="margin-bottom: 20px; border: 2px solid black; padding: 10px; width: 300px; background-color: aquamarine; border-radius: 15px">
    <div>
      Producto: {{this.product.title}}
    </div>
    <div>
      Categoria: {{this.product.category}}
    </div>
    <div>
      Precio: {{this.product.price}}
    </div>
    <div>
      Stock: {{this.product.stock}}
    </div>
    <div>
      Descripcion: {{this.product.description}}
    </div>
    <div>
      Cantidad: {{this.quantity}}
    </div>
      </li>
{{/each}}
</ul>
</div>